name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
env:
  IMAGE_TAG: ${{github.run_number}}
  IMAGE_NAME: webapp
  DOCKER_REPOSITORY: opusmundi

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build ./app-dotnet --tag webapp:$IMAGE_TAG
      
    - name: Tag the Docker image
      run: docker build ./app-dotnet --tag opusmundi/webapp:$IMAGE_TAG
      
    - name: Login to Docker hub
      run: echo "${{ secrets.DOCKER_REPOSITORY_PASSWORD }}" | docker login -u $DOCKER_REPOSITORY --password-stdin
      
    - name: Push Image to Docker Hub
      run: docker push $DOCKER_REPOSITORY/$IMAGE_NAME:$IMAGE_TAG
      
    - name: Azure Kubernetes set context
      uses: Azure/aks-set-context@v1
      with:
        # Azure credentials i.e. output of `az ad sp create-for-rbac --sdk-auth`
        creds: ${{ secrets.AZURE_AUTH }}
        # Resource Group Name
        resource-group: Refinitiv
        # AKS Cluster Name
        cluster-name: opusmundi
